.product-content{
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
    
}
.product-content h1{
    font-size: 55px;
    font-weight: 200;
}
.product-content img{
    border-radius: 10px;
    height: 300px;
    width: 300px;
}